@import "tailwindcss";

/*Default colors*/
:root {
  --bg-gradient: linear-gradient(to bottom, #fff5f7 0%, #ffd1dc 100%); 
  --bg-color: #ffd1dc
  --text-color: #0f172a;
  --brand-color: #3b82f6;
}

/*Dark mode colors*/
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #072a6c; 
    --bg-gradient: radial-gradient(circle at top, #0a3a91 0%, #072a6c 100%);
    --text-color: #f1f5f9;
  }
}

@theme {
  --color-brand: var(--brand-color);
  --color-background: var(--bg-color);
  --color-foreground: var(--text-color);
}

body {
  color: var(--text-color) !important;
  background: var(--bg-gradient, var(--bg-color)) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s ease, color 0.3s ease;
}
